<nav class="navbar d-flex justify-content-between align-items-center">
  <a routerLink='/' class="navbar-brand">abc</a>
  <div class="navbar-collapse">
    <ul class="navbar-nav d-flex align-items-center">
      <li class="nav-item">
        <a routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink='/quanao' routerLinkActive="active" class="nav-link">Clothing</a>
      </li>
      <li class="nav-item">
        <a routerLink='/cart' class="nav-link cart-link">
          <i class="eva eva-shopping-cart-outline"></i>
          <div *ngIf="length > 0" class="circle">
            <span class="num">{{ length }}</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink='/login' routerLinkActive="active" class="nav-link">Login</a>
      </li>
    </ul>
  </div>
</nav>
