<h1>Shopping Cart</h1>
<div class="cart-box">
  <div class="box-header">
    <p>You have {{ length }} {{ length > 1 ? 'items' : 'item'}} in your shopping cart.</p>
  </div>
  <div *ngIf="length > 0" class="box-table">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th>Size</th>
          <th>Color</th>
          <th>Quantity</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cart$ | async">
          <td>
            <img src="{{ c.image }}" alt="">
          </td>
          <td>{{ c.product }}</td>
          <td>{{ c.size }}</td>
          <td><span [style.background]="c.color"></span></td>
          <td>
            <button class='minus' (click)="minusQuantity(c)" [ngClass]="{ 'disabled': c.quantity < 2 }">-</button>
            <span>{{ c.quantity }} in cart</span>
            <button class='plus' (click)="plusQuantity(c)">+</button>
          </td>
          <td>{{ c.price * c.quantity | currency }}</td>
          <td><i class="eva eva-close-outline" (click)="delItemCart(c)"></i></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th id="total" colspan="5">Total:</th>
          <td>{{ total | currency}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
