.clothes-wrapper {
  display: flex;
  align-items: flex-start;

  .categories-wrapper {
    width: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    background: #262626;

    & a {
      padding: 10px;

      &.active {
        background: #1D1D1D;
        color: #A578AD;
      }

      &:hover:not(.active) {
        color: #A578AD;
        background: #2F2F2F;
      }
    }
  }

  .products-wrapper {
    max-width: 1300px;
  }
}
