/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "../node_modules/eva-icons/style/eva-icons.css";

html, body {
  height: 100%;
  box-sizing: border-box;
}

body, * {
  padding: 0;
  margin: 0;
  color: #FFF;
}

body {
  background: #303030;
}

*:not(i) {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.offset {
  content: '';
  padding-top: 120px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ngb-pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0;

  & .pagination {
    display: flex;
    padding-left: 0;

    .page-item.disabled {

      .page-link {
        color: #6c757d;
        pointer-events: none;
        cursor: auto;
        border-color: #494949;
      }
    }

    .page-item {


      .page-link {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #FFF;
        border: 1px solid #494949;
        outline: none;
        border-radius: 50%;
        margin: 0 5px;
      }

      :first-child .page-link {
        margin-left: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
      }

      &.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #9C27B0;
        border-color: #9C27B0;
      }
    }
  }
}
